In [1]:
#Exercises: Level 1; Declare an empty list
empty = []

#Declare a list with more than 5 items
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

#Find the length of your list
length = len(fruits)

#Get the first item, the middle item and the last item of the list
first_item = fruits[0]
middle_item = fruits[len(fruits) // 2]
last_item = fruits[-1]

#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Bob', 22, 175, 'Single', '67 Oxford Street']

In [2]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple,
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Print the list using print()
print(it_companies)

# Print the number of companies in the list
print(len(it_companies))

# Print the first, middle and last company
print(it_companies[0])
print(it_companies[len(it_companies) // 2]) 
print(it_companies[-1])

# Print the list after modifying one of the companies
it_companies[2] = 'Tesla'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
Apple
Amazon
['Facebook', 'Google', 'Tesla', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [6]:
#Add an IT company to it_companies
it_companies.append('Netflix')

#Insert an IT company in the middle of the companies list
it_companies.insert(len(it_companies) // 2, 'Samsung')

#Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[2] = it_companies[2].upper()

#Join the it_companies with a string '#; 
joined_companies = '#; '.join(it_companies)
print(joined_companies)

#Check if a certain company exists in the it_companies list.
if 'Google' in it_companies:
    print(f"{company_to_check} exists in the it_companies list.")
else:
    print(f"{company_to_check} does not exist in the it_companies list.")

print('Google' in it_companies)

Facebook#; Google#; TESLA#; Apple#; Samsung#; Samsung#; Samsung#; Samsung#; IBM#; Oracle#; Amazon#; Netflix#; Netflix#; Netflix#; Netflix
Google exists in the it_companies list.
True

In [10]:
#Sort the list using sort() method
it_companies.sort()
print(it_companies)

#Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

#Slice out the first 3 companies from the list
first_three = it_companies[:3]
print(first_three)

#Slice out the last 3 companies from the list
last_three = it_companies[-3:]
print(last_three)

#Slice out the middle IT company or companies from the list
middle_index = len(it_companies) // 2

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Netflix', 'Netflix', 'Netflix', 'Netflix', 'Oracle', 'Samsung', 'Samsung', 'Samsung', 'Samsung', 'TESLA']
['TESLA', 'Samsung', 'Samsung', 'Samsung', 'Samsung', 'Oracle', 'Netflix', 'Netflix', 'Netflix', 'Netflix', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['TESLA', 'Samsung', 'Samsung']
['Facebook', 'Apple', 'Amazon']

In [17]:
#Remove the first IT company from the list
it_companies.pop(0)

#Remove the middle IT company or companies from the list
#it_companies.pop(middle_index)
print(it_companies)

#Remove the last IT company from the list
it_companies.pop(-1)
print(it_companies)

#Remove all IT companies from the list
it_companies.clear()
print(it_companies)

['Netflix', 'Netflix', 'IBM', 'Facebook']
['Netflix', 'Netflix', 'IBM']
[]

In [ ]:
#Destroy the IT companies list
del it_companies

#Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

full_stack_tween = full_stack.copy()

#Insert Python and SQL after Redux
full_stack_tween.insert(full_stack_tween.index('Redux') + 1, 'Python')
full_stack_tween.insert(full_stack_tween.index('Python') + 1, 'SQL')
print(full_stack_tween)

In [ ]:
#Exircises: Level 2; The following is a list of 10 students ages:
#ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#Sort the list and find the min and max age
ages.sort()
print(f"Min age: {min(ages)}, Max age: {max(ages)}")

#Add the min age and the max age again to the list
ages.append(min(ages))
ages.append(max(ages))

#Find the median age (one middle item or two middle items divided by two)
median_age = (ages[len(ages) // 2 - 1] + ages[len(ages) // 2]) / 2 if len(ages) % 2 == 0 else ages[len(ages) // 2]
print(f"Median age: {median_age}")

#Find the average age (sum of all items divided by their number)
average_age = sum(ages) / len(ages)
print(f"Average age: {average_age}")

Min age: 19, Max age: 26
Median age: 24.0

In [23]:
#Find the range of the ages (max minus min)
age_range = max(ages) - min(ages)
print(f"Age range: {age_range}")

#Compare the value of (min - average) and (max - average), use abs() method
'''min_avg_diff = abs(min(ages) - average_age)
max_avg_diff = abs(max(ages) - average_age)
print(f"Min-Average Difference: {min_avg_diff}, Max-Average Difference: {max_avg_diff}")'''

#Find the middle country(ies) in the countries list
#Divide the countries list into two equal lists if it is even if not one more country for the first half.
#['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

east_asia, northern_asia, north_america, *scandic = countries

print(f"East Asia: {east_asia}, Northern Asia: {northern_asia}, North America: {north_america}, Scandic Countries: {scandic}")

Age range: 7
East Asia: China, Northern Asia: Russia, North America: USA, Scandic Countries: ['Finland', 'Sweden', 'Norway', 'Denmark']


ðŸŽ‰ CONGRATULATIONS ! ðŸŽ‰